.footer-container {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 400;
  width: 100%;
  height: 50px;
  text-align: center;  
  background-color: rgba(106, 23, 255, 0.82);
}

// Navigation Icon Styling and Animations

#hamburger {
  position: absolute;
  
  left: 10px;
  bottom: 15px;
  
  width:30px;
  height:30px;

  margin: auto;
} 

.bar {
  display: block;
  
  width:100%;
  height:20%;
  margin-top:20%;
  
  background: white;
  
  transition:0.25s;
  -webkit-transition:0.25s;
  
-webkit-user-select: none;
  -moz-user-select: none;    
  -ms-user-select: none;      
  user-select: none;          
}

.animate .bar:nth-child(1) {
  transform:translateY(12px) rotate(135deg);
}

.animate .bar:nth-child(2) {
  opacity: 0;
}

.animate .bar:nth-child(3) {
  transform:translateY(-12px) rotate(-135deg);
}