.header {
  transition: 0.4s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
  width: 100vw;
  height: 54px;
  padding-top: 2px;
  text-align: center;
  background-color: rgba(106, 23, 255, 0.85);
  box-shadow: 0px 3px 9px rgba(0,0,0,0.35);
  .section {
    float: left;

    height: 50px;

    &:nth-child(1){
      width: 44vw;
      @media(max-width: 768px){
        width: 33vw;
      }
    }
    &:nth-child(2){
      width: 12vw;
      @media(max-width: 768px){
        width: 33vw;
      }
    }
    &:nth-child(3){
      width: 44vw;
      margin-right: 0%;
      padding-right: 2%;
      @media(max-width: 768px){
        width: 33vw;
      }
    }
    img {
      height: 46px;
      padding-top: 4px;
    }
    p {
      float: right;
      width: auto;
      padding-right: 20px;
    }
    button.download {
      float: right;
      margin-right: 4px;
      img {
        height: 28px;
        width: auto;
        float: right;
        margin: 0;
        padding: 3px;
        opacity: 0.9;
        &:hover {
          opacity: 1;
        }
      }
      &:hover {
        background-color: rgba(23, 23, 23, 0.1);
      }
    }
    button {
      float: right;
      font-size: 14px;
      font-weight: bold;
      color: rgba(255,255,255,1);
      background: transparent;
      border: 1px solid white;
      border-radius: 2px;
      height: 34px;
      margin-top: 7px;
      padding-left: 12px;
      padding-right: 12px;
      &:hover {
        color: rgba(106, 23, 255, 1);
        background: rgba(255,255,255,1);
      }
    }
    .header-hamburger {
      float: left;
      margin-left: 8%;
      height: 37px;
      width: 60px;
      span {
        background-color: rgb(255,255,255);
      }
      &:hover {
        & > span {
          background-color: rgb(106, 23, 255);
        }
      }
    }
    .header-text {
      float: right;
      font-size: 13px;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      margin: 0;
      padding: 0;
      padding-top: 17px;
      margin-right: 12px;
    }
  }
}