.header {
  transition: 0.4s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
  width: 100vw;
  height: 54px;
  padding-top: 2px;
  text-align: center;
  background-color: rgba(106, 23, 255, 0.15);
  .section {
    float: left;
    width: 33vw;
    min-width: 33vw;
    height: 50px;

    &:last-of-type {
      margin-right: 0%;
      padding-right: 2%;
    }
    img {
      height: 46px;
      padding-top: 4px;
    }
    p {
      float: right;
      width: auto;
      padding-right: 20px;
    }
    .download {
      height: 34px;
      width: auto;
      float: right;
      margin-right: 16px;
      padding-top: 14px;
      margin-top: 2px;
      opacity: 0.9;
      &:hover {
        opacity: 1;
      }
    }
    button {
      float: right;
      font-size: 14px;
      font-weight: bold;
      color: rgba(255,255,255,1);
      background: transparent;
      border: 1px solid white;
      border-radius: 2px;
      height: 34px;
      margin-top: 7px;
      padding-left: 12px;
      padding-right: 12px;
      &:hover {
        color: rgba(106, 23, 255, 1);
        background: rgba(255,255,255,1);
      }
    }
    .header-hamburger {
      float: left;
      margin-left: 8%;
      height: 37px;
      width: 60px;
      span {
        background-color: rgb(255,255,255);
      }
      &:hover {
        & > span {
          background-color: rgb(106, 23, 255);
        }
      }
    }
    .header-text {
      font-size: 13px;
      // font-weight: bold;
      color: rgba(255, 255, 255, 1);
      // text-transform: uppercase;
      padding-top: 16px;
      margin-right: -6px;
    }
  }
}