.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 500;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  background-color: rgba(37, 232, 152, 0.95);

  text-align: center;
  color: white;

  hr {
    opacity: 0.2;
  }

  input, button {
    width: 100%;
    padding: 9px 14px 8px;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    color: #000;
    background: #ffffff; 
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
  }
  input {
    margin-bottom: 12px;
    text-align: center;
  }

  .container {
    height: 100vh;
    overflow: scroll;
  }

  img.eevo {
    width: 100%;
    max-width: 160px;
    height: auto;
    padding: 12px;
    margin-top: 10vh;
  }

  .platform {
    height: 36px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .overlay-links {
    margin-top: 2rem;
    margin-bottom: 6rem;
  }

  .close-overlay {
    cursor: pointer;
  }
}