.tutorial-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 425;
  background-color: rgba(36, 11, 87, 0.95);
}

.tutorial-gif {
  margin-top: 40vh;
  text-align: center;
  color: white;
  h4 {
    font-weight: 700;
  }
  img {
    width: 100%;
    max-width: 280px;
    height: auto;
    opacity: 0.9;
  }
}