* {
  transition: .35s; }

body {
  height: 101vh;
  font-family: sans-serif; }

h1, h2, h3, h4, h5 {
  margin: 10px; }

hr {
  width: 80%;
  border: 1px solid rgba(255, 255, 255, 0.1); }

h1 {
  font-weight: 700; }

h4 {
  font-weight: 300;
  margin-top: 4vh; }

.visible {
  z-index: 200;
  opacity: 1; }

.a-canvas, canvas {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 100; }

.a-enter-vr {
  z-index: 200; }

.overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  background-color: rgba(37, 232, 152, 0.95);
  text-align: center;
  color: white; }
  .overlay-content hr {
    opacity: 0.2; }
  .overlay-content input, .overlay-content button {
    width: 100%;
    padding: 9px 14px 8px;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    color: #000;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .overlay-content input {
    margin-bottom: 12px; }
  .overlay-content .container {
    height: 100vh;
    overflow: scroll; }
  .overlay-content img.eevo {
    width: 100%;
    height: auto;
    padding: 12px;
    margin-top: 10vh; }
  .overlay-content img.platform {
    float: center;
    height: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px; }
    .overlay-content img.platform:last-of-type {
      margin-right: 0; }
