@font-face {
  font-family: 'PxG';
  src: url('fonts/PxGroteskBold.woff') format('woff');
  font-weight: 700; }

@font-face {
  font-family: 'PxG';
  src: url('fonts/PxGroteskRegular.woff') format('woff');
  font-weight: 400; }

@font-face {
  font-family: 'PxG';
  src: url('fonts/PxGroteskLight.woff') format('woff');
  font-weight: 300; }

* {
  font-family: 'PxG', sans-serif;
  transition: .35s; }

body {
  height: 100vh;
  font-family: 'PxG', sans-serif; }

hr {
  border: 1px solid rgba(255, 255, 255, 0.1); }

h1 {
  font-weight: 700; }

h4 {
  font-weight: 300;
  margin-top: 4vh; }

.cf {
  content: "";
  display: table;
  clear: both; }

.visible {
  z-index: 200;
  opacity: 1; }

@media (max-width: 400px) {
  .visible-md {
    display: none; } }

@media (max-width: 768px) {
  .hide-sm {
    display: none; } }

.show-sm {
  display: none; }
  @media (max-width: 768px) {
    .show-sm {
      display: block; } }

::webkit-scrollbar {
  display: none; }

.a-canvas, canvas {
  height: 100% !important;
  width: 100%;
  position: absolute;
  z-index: 200; }

.a-enter-vr {
  z-index: 400;
  bottom: 0 !important;
  right: 0 !important; }

.a-enter-vr-modal {
  height: 50px !important; }
  @media (max-width: 768px) {
    .a-enter-vr-modal {
      display: none !important; } }

.overlay-content {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: 0.5s;
  top: 0;
  left: 0;
  z-index: 450;
  width: 100vw;
  height: 100vh;
  display: none;
  opacity: 0;
  background-color: rgba(86, 3, 235, 0.95);
  text-align: left;
  color: white; }
  .overlay-content::webkit-scrollbar {
    display: none; }
  .overlay-content hr {
    opacity: 0.5; }
  .overlay-content input, .overlay-content button {
    width: 100%;
    padding: 9px 14px 8px;
    border: none;
    text-transform: capitalize;
    font-weight: 700;
    color: #000;
    background: #ffffff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); }
  .overlay-content input {
    margin-bottom: 12px;
    text-align: center; }
  .overlay-content .container {
    padding-top: 30vh; }
    @media (max-height: 786px) {
      .overlay-content .container {
        padding-top: 20vh; } }
  .overlay-content img.eevo {
    width: 100%;
    max-width: 160px;
    height: auto;
    padding: 12px;
    margin-top: 10vh; }
  .overlay-content .left-panel .platform {
    width: 100%; }
    .overlay-content .left-panel .platform div {
      transition: 0.3s;
      float: left;
      width: 30%;
      height: 120px;
      margin-bottom: 8px;
      margin-right: 5%;
      background-color: rgba(83, 0, 232, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 2px;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
      text-align: center; }
      .overlay-content .left-panel .platform div:hover {
        background-color: rgba(106, 23, 255, 0.85); }
      .overlay-content .left-panel .platform div img {
        position: relative;
        top: 17.5%;
        width: auto;
        max-width: 90%;
        height: 65%;
        max-height: 70px;
        margin: 0 auto;
        padding: 8%;
        opacity: 1; }
      @media (max-height: 786px) {
        .overlay-content .left-panel .platform div {
          max-height: 70px; } }
    .overlay-content .left-panel .platform a:last-of-type > div {
      margin-right: 0%; }
  .overlay-content .right-panel {
    margin-top: 3.6vh; }
    @media (max-width: 768px) {
      .overlay-content .right-panel {
        margin-top: 10vh; } }
  .overlay-content .overlay-links {
    width: 100%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: left; }
    @media (min-width: 768px) {
      .overlay-content .overlay-links {
        text-align: center;
        position: absolute;
        bottom: 2.5vh;
        margin-top: 0;
        margin-bottom: 0; } }
    .overlay-content .overlay-links h5, .overlay-content .overlay-links h6 {
      display: inline; }
    .overlay-content .overlay-links h5 {
      color: rgba(50, 50, 50, 0.25);
      cursor: default; }
    .overlay-content .overlay-links h6 {
      font-weight: 400; }
    .overlay-content .overlay-links a {
      transition: 0.1s;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6); }
      .overlay-content .overlay-links a:hover {
        color: white; }
  .overlay-content button {
    font-size: 16px;
    color: white;
    background: rgba(83, 0, 232, 0.25);
    border: 1px solid white;
    border-radius: 1px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    height: 48px; }
    .overlay-content button:hover {
      color: #6a17ff;
      background: white; }
  .overlay-content .close-overlay {
    cursor: pointer; }

.header-hamburger {
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer; }

.header-hamburger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 35%;
  background: white;
  opacity: 1;
  left: 32.5%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

.header-hamburger span:nth-child(1) {
  top: 8px; }

.header-hamburger span:nth-child(2), .header-hamburger span:nth-child(3) {
  top: 16px;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.header-hamburger span:nth-child(4) {
  top: 24px; }

.header-hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(90deg) scale(1, 0.5) translateY(-2px) translateX(2px);
  -moz-transform: rotate(90deg) scale(1, 0.5) translateY(-2px) translateX(2px);
  -o-transform: rotate(90deg) scale(1, 0.5) translateY(-2px) translateX(2px);
  transform: rotate(90deg) scale(1, 0.5) translateY(-2px) translateX(2px);
  height: 14px;
  width: 45%;
  opacity: 0.5; }

.header-hamburger.open span:nth-child(2) {
  -webkit-transform: rotate(90deg) scale(1, 0.5) translateY(34px) translateX(-1px);
  -moz-transform: rotate(90deg) scale(1, 0.5) translateY(34px) translateX(-1px);
  -o-transform: rotate(90deg) scale(1, 0.5) translateY(34px) translateX(-1px);
  transform: rotate(90deg) scale(1, 0.5) translateY(34px) translateX(-1px);
  height: 5px;
  opacity: 0.7; }

.header-hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(90deg) scale(1, 0.5) translateY(15px) translateX(-2px);
  -moz-transform: rotate(90deg) scale(1, 0.5) translateY(15px) translateX(-2px);
  -o-transform: rotate(90deg) scale(1, 0.5) translateY(15px) translateX(-2px);
  transform: rotate(90deg) scale(1, 0.5) translateY(15px) translateX(-2px);
  height: 10px;
  opacity: 0.9; }

.header-hamburger.open span:nth-child(4) {
  -webkit-transform: rotate(-90deg) scale(1, 0.5) translateY(32px) translateX(11px);
  -moz-transform: rotate(-90deg) scale(1, 0.5) translateY(32px) translateX(11px);
  -o-transform: rotate(-90deg) scale(1, 0.5) translateY(32px) translateX(11px);
  transform: rotate(-90deg) scale(1, 0.5) translateY(32px) translateX(11px);
  height: 9px;
  opacity: 0.7; }

.header {
  transition: 0.4s;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 600;
  width: 100vw;
  height: 54px;
  padding-top: 2px;
  text-align: center;
  background-color: rgba(106, 23, 255, 0.15); }
  @media (max-width: 768px) {
    .header {
      opacity: 1; } }
  .header .section {
    float: left;
    width: 33vw;
    min-width: 33vw;
    height: 50px; }
    .header .section:last-of-type {
      margin-right: 0%;
      padding-right: 2%; }
    .header .section img {
      height: 46px;
      padding-top: 4px; }
    .header .section p {
      float: right;
      width: auto;
      padding-right: 20px; }
    .header .section .download {
      height: 34px;
      width: auto;
      float: right;
      margin-right: 16px;
      padding-top: 14px;
      margin-top: 2px;
      opacity: 0.9; }
      .header .section .download:hover {
        opacity: 1; }
    .header .section button {
      float: right;
      font-size: 14px;
      font-weight: bold;
      color: white;
      background: transparent;
      border: 1px solid white;
      border-radius: 2px;
      height: 34px;
      margin-top: 7px;
      padding-left: 12px;
      padding-right: 12px; }
      .header .section button:hover {
        color: #6a17ff;
        background: white; }
    .header .section .header-hamburger {
      float: left;
      margin-left: 8%;
      height: 37px;
      width: 60px; }
      .header .section .header-hamburger span {
        background-color: white; }
      .header .section .header-hamburger:hover > span {
        background-color: #6a17ff; }
    .header .section .header-text {
      font-size: 13px;
      color: white;
      padding-top: 16px;
      margin-right: -6px; }
